<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">image</th>
      <th scope="col">price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
      @for(product of products;track product.id){
        <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td><img style="width: 30px;" [src]=" product.images[0] " alt=""></td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button (click)="incrementTheProduct(product)" class="btn btn-primary">+</button>
          <span>|</span>
          <button (click)="decrementTheProduc(product)" class="btn btn-danger">-</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="removeProduct(product.id)" >Remove</button>

        </td>
      </tr>

      }



  </tbody>
</table>
